.linkDiv {
    text-decoration: none;
    color: black;
    height: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.tile {
    min-height: 30%; 
    min-width: 15%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 0;
}

.linkDiv h6 {
    font-size: 1em;
    width: 100%;
    display: inline-block;
    margin: 1em 0;
}

.linkDiv h5 {
    font-weight: 400;
    width: 100%;
    margin: 0 0;
}

.linkDiv img {
    /* width: auto;
    height: auto; */
    object-fit: cover;
    justify-self: center;
    display: inline-block;
}